<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upfour</title>
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <script type="text/javascript" src='/static/js/jquery-2.1.3.min.js'></script>
    <script type="text/javascript" src='/static/js/poker.min.js'></script>
</head>
<body>
    <div id="main">

        <!-- <button id="start">开始</button> -->
        <div class="partner top">aaa</div>
        <div class="partner right">bbb</div>
        <div class='partner bottom'>
            <div class="row">
                <button id="ready">准备</button>
                <span id="readyed">准备开始</span>
            </div>

        </div>
        <div class="partner left">dddd</div>
    </div>

<script type="text/javascript">

$(document).ready(function (e){
    var ws = new WebSocket("ws://" + window.location.host + "/ws");
    ws.onopen = function() {
       ws.send("Hello, world");
    };
    ws.onmessage = function (evt) {
       console.log(evt.data);
    };

    $("#ready").click(function (e){
        $.ajax({
            url: '/ready/',
            dataType: 'JSON',
            success: function(response, statusText){
                if(response.success){
                    $("#ready").toggle();
                    $("#readyed").toggle();
                }
            }
        });
    });
});

</script>
</body>
</html>
